*{
    margin:0px;
    padding:0px;
}

h1{
    font-size:8vmin;   
    color:rgb(206, 222, 32);
}
body{
    background-color:#548687;
    text-align: center;
}

.container{
    height:70vh;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.game{
    height:60vmin;
    width: 60vmin;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;
}

.box{
    height:18vmin;
    width: 18vmin;
    border-radius:  1rem;
    border:none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #aba6c0;

}

#reset-btn{
    padding:1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #ffff;
    border-radius: 1rem;
    border:none;
}

#new-btn{
    padding:1rem;
    font-size: 1.25rem;
    background-color: #f1f1ee;
    color: #030303;
    border-radius: 1rem;
    border:none;
}

#msg1{
    color:#ffffcf;
    font-size:8vmin;
}
#msg2{
    color:#ffffcf;
    font-size:15vmin;
}

.msg-container{
    height:100vmin;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:2 rem;
}
.hide{
    display: none;
}
